/*
 * Style tweaks
 * --------------------------------------------------
 */

/* -------------- HELPERS  -------------- */

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mt-0 {
    margin-top: 0;
}

/* -------------- CORE  -------------- */
* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    color: black;
}

/* -------- BOOTSTRAP, column paddings, ... --------- */
.col-padding {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

/* thumbnail */
.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px;
    border-radius: 0;
}

.animate.ng-enter {
    -webkit-transition: all 1000ms cubic-bezier(0.64, 0.05, 0.35, 1);
    transition: all 1000ms cubic-bezier(0.64, 0.05, 0.35, 1);
    opacity: 0;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    opacity: 1;
}

.no-touch .thumb a:hover .project-img-caption {
    visibility: visible;
}

.no-touch a.project-thumbnail:hover {
    background-color: white;
}

.no-touch .project-img:hover, .thumbnail:hover img {
    visibility: hidden;
}

.no-touch .thumb a:hover .project-img-caption span {
    visibility: visible;
}

.project-img-caption {
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    width: 100%;
    visibility: hidden;
}

.project-img-caption span {
    pointer-events: none;
    color: black;
}

/* ------------------------------------------------ */

/* -------------- MENU nav bar -------------- */

.navbar {
    padding-top: 40px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.language-xs {
    display: inline-block;
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    padding-right: 15px;
}

ul.language-xs > li {
    display: inline;
    padding-left: 15px;
}

.navbar-brand {
    padding: 0;
}

.navbar .navbar-collapse {
    text-align: center;
}

.main-container {
    padding: 10px;
}

.menu-nav {
    padding: 15px 0 30px 0px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
    color: #E73F37;
}

li.active, li.active a {
    color: #E73F37;
}

.navbar-nav > li > a {
    padding: 0 20px;
}

.navbar-nav > li > a.lang {
    padding: 0 5px;
}

.navbar-nav > li:nth-child(4) > a {
    padding-left: 20px;
}

ul.nav.navbar-nav {
    margin-top: 0;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.logo-r {
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 0;
}

.logo-r-container {
    position: absolute;
}

footer {
    padding-right: 3px;
}

/* -------------------------------------------- */

.bold-600 {
    font-weight: 600;
    font-style: normal;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.center-horizontal {
    margin: 0 auto;
    display: block;
}

a, a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #E73F37;
}

a:active {
    text-decoration: none;
    color: #E73F37;
}

/* --------------------- Font sizes ------------------------ */

.text-home {
    padding-bottom: 110px;
    line-height: 50px;
    font-size: 2.3em;
}

.icon-R {
    font-size: 7em;
    font-size: 8.5vw;
}

.navigation a {
    font-size: 1.2em;
    font-size: 1.2vw;
}

.project-img-caption span {
    font-size: 1.4em;
    font-size: 1.4vw;
}

.img-card {
    width: 45vw;
}

.btn-nxt {
    text-align: right;
}

.bg-pink {
    background-color: #fad3d1;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

    .icon-R {
        font-size: 3.9em !important;
    }

    h1 {
        font-size: 1.3em;

    }

    h2 {
        font-size: 14px;
    }

    p, a, body {
        font-size: 12px;
    }

    .text-home {
        line-height: 38px;
        padding-bottom: 60px;
    }

    .glyphicon {
        font-size: 10px;
    }

    .navbar-toggle {
        margin-right: 5px;
    }

    .navigation a {
        font-size: 1.4em;
    }

    .project-img-caption span {
        font-size: 1.4em;
    }

    .text1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    body {
        padding-top: 160px;
    }

    /* -------------- MENU nav bar -------------- */
    .menu-nav ul li:nth-child(2) { /* second item */
        padding-left: 20px;
    }

    .menu-nav ul li:nth-child(3) { /* third item */
        padding-left: 20px;

    }

    .navbar-nav > li {
        min-height: 45px;
    }

    .navbar-nav > li > a {
        padding-top: 12px;
    }

    .navbar {
        padding-top: 30px;
    }

    #navbar-collapse {
        background-color: #fcfcfc;
    }

    .logo-r {
        padding-left: 0px;
    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 35px;
        padding-bottom: 70px;
    }

    footer a {
        padding-left: 10px;
        line-height: 25px;
    }

    /* -------- BOOTSTRAP column paddings --------- */
    .col-padding {
        padding-right: 15px;
        padding-left: 15px;
    }

    #logoR:hover {
        color: black;
    }

    #logoR {
        min-height: 100px;
        min-width: 80px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    .icon-R {
        font-size: 4em;
    }

    .text1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .navbar {
        padding-top: 40px;
    }

    body {
        padding-top: 170px;
    }

    .text-home {
        line-height: 46px;
    }
    /* ------------------ footer ------------------ */
    footer {
        padding-top: 45px;
        margin-bottom: 45px;
    }

    footer .icon {
        padding-bottom: 45px;
    }

    footer a {
        padding-left: 25px;
    }

    .navigation a {
        font-size: 0.9em;
    }

    .project-img-caption span {
        font-size: 1em;
    }

    #logoR:hover {
        color: black;
    }

    #logoR {
        min-height: 100px;
        min-width: 80px;
    }

    /* -------------------------------------------- */

}

/* tablets/desktops and up ----------- */
@media screen and  (min-width: 992px) {

    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 2em;
    }

    p, a {
        font-size: 1em;
    }

    .glyphicon {
        font-size: 0.8em;
    }

    .text1 {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 150px;

    }

    .navbar {
        padding-top: 40px;
    }

    body {
        padding-top: 290px;
    }

    .container-fluid {
        max-width: 1200px;
    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 60px;
        margin-bottom: 70px;
    }

    footer .icon {
        padding-bottom: 60px;
    }

    footer a {
        padding-left: 35px;
    }

    /* -------------------------------------------- */

}

@media screen and  (min-width: 2500px) {

    .text1 {
        text-align: center;
        margin-top: 300px;
        margin-bottom: 300px;

    }

    body {
        padding-top: 400px;
    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 60px;
        margin-bottom: 60px;
    }

    footer .icon {
        padding-bottom: 60px;
    }

    footer a {
        padding-left: 35px;
    }
}