/*
 * Style tweaks
 * --------------------------------------------------
 */

/* -------------- HELPERS  -------------- */

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

/* -------------- CORE  -------------- */
* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* -------- BOOTSTRAP, column paddings, ... --------- */
.col-padding {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

/* thumbnail */
.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px;
    border-radius: 0;
}

.animate.ng-enter {
    -webkit-transition: all 1000ms cubic-bezier(0.64, 0.05, 0.35, 1);
    transition: all 1000ms cubic-bezier(0.64, 0.05, 0.35, 1);
    opacity: 0;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    opacity: 1;
}

.thumb a:hover .project-img-caption {
    visibility: visible;
}

a.project-thumbnail:hover {
    background-color: white;
}

.project-img:hover, .thumbnail:hover img {
    visibility: hidden;
}

.thumb a:hover .project-img-caption span {
    visibility: visible;
}

.project-img-caption {
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    width: 100%;
    visibility: hidden;
}

.project-img-caption span {
    font-weight: bold;
    pointer-events: none;
    color: black;
}

/* ------------------------------------------------ */

/* -------------- MENU nav bar -------------- */
.navbar .navbar-nav {

    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.main-container {
    padding: 10px;
}

.logo-r {
    margin-top: 40px;
}

.menu-nav {
    padding: 15px 0 30px 0px;
}

.menu-nav ul li:nth-child(2) { /* second item */
    padding-left: 45px;
}

.menu-nav ul li:nth-child(3) { /* third item */
    padding-left: 45px;

}

li.active, li.active a {
    color: #f19ea2;
}

/* -------------------------------------------- */

.bold-600 {
    font-weight: 600;
    font-style: normal;
}

.about-img {
    padding-top: 40px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.center-horizontal {
    margin: 0 auto;
    display: block;
}

.img-card {
    padding-top: 30px;
}

.img-card-container {
    margin-bottom: 50px;
}

a, a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #f19ea2;
}

a:active {
    text-decoration: none;
    color: black;
}

.icon-R {
    font-size: 75px;
    font-size: 11vw;
}

.icon-separador {
    font-size: 10px;
    font-size: 5vw;
}

h1 {
    font-size: 20px;
    font-size: 2vw;
    line-height: 1.5em;
}

h2 {
    font-size: 14px;
    font-size: 2vw;
}

p, a {
    font-size: 10px;
    font-size: 2.1vmin;
}

.img-card {
    width: 45vw;
}

.btn-nxt {
    text-align: right;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

    .text1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    body {
        padding-top: 10px;
        margin-top: 150px;
    }

    /* -------------- MENU nav bar -------------- */
    .menu-nav ul li:nth-child(2) { /* second item */
        padding-left: 20px;
    }

    .menu-nav ul li:nth-child(3) { /* third item */
        padding-left: 20px;

    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 35px;
        margin-bottom: 35px;
    }

    footer .icon {
        padding-bottom: 35px;
    }

    footer a {
        padding-left: 25px;
    }

    /* -------- BOOTSTRAP column paddings --------- */
    .col-padding {
        padding-right: 15px;
        padding-left: 15px;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    .text1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    body {
        padding-top: 20px;
        margin-top: 200px;
    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 45px;
        margin-bottom: 45px;
    }

    footer .icon {
        padding-bottom: 45px;
    }

    footer a {
        padding-left: 25px;
    }

    /* -------------------------------------------- */

}

/* tablets/desktops and up ----------- */
@media screen and  (min-width: 992px) {

    .text1 {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 150px;

    }

    /*.container {
        max-width: 1000px;
    }*/
    .container-fluid {
        margin-left: 100px;
        margin-right: 100px;
        max-width: 1200px;

    }

    body {
        padding-top: 70px;
        margin-top: 250px;
    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 60px;
        margin-bottom: 60px;
    }

    footer .icon {
        padding-bottom: 60px;
    }

    footer a {
        padding-left: 35px;
    }

    /* -------------------------------------------- */

}

/* tablets/desktops and up ----------- */
@media screen and  (min-width: 2000px) {

    .container-fluid {
        margin-left: 300px;
        margin-right: 300px;
    }

    .text1 {
        text-align: center;
        margin-top: 300px;
        margin-bottom: 300px;

    }

    body {
        padding-top: 140px;
        margin-top: 600px;
    }

    /* ------------------ footer ------------------ */
    footer {
        padding-top: 60px;
        margin-bottom: 60px;
    }

    footer .icon {
        padding-bottom: 60px;
    }

    footer a {
        padding-left: 35px;
    }
}