<div class="row">
    <div class="col-xs-12">
        <h1 class="text-left project-title">{{::projectCtrl.project.fields.title}}</h1>
        <br>
        <p ng-bind-html="::projectCtrl.projectBody"></p>
        <br>
    </div>
</div>

<div class="row">
    <div ng-repeat="image in ::projectCtrl.project.fields.images" class="col-xs-12 thumb pb-15">
        <img class="img-responsive" ng-src="https:{{::image.fields.file.url}}" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-3 navigation">
        <a href="javascript:void(0)" ng-if="::projectCtrl.hasPrev" ng-click="projectCtrl.navigatePrevOrNext('-1')"><p><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> <span ng-bind="navigation[3]"></span></p></a>
    </div>
    <div class="col-xs-6">

    </div>
    <div class="col-xs-3 navigation">
        <a href="javascript:void(0)" ng-if="::projectCtrl.hasNext" ng-click="projectCtrl.navigatePrevOrNext('+1')"><p class="btn-nxt"><span ng-bind="navigation[4]"></span> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p></a>
    </div>
</div>