<div class="row">
    <div class="col-xs-12">
        <h1 class="text-left project-title">{{::projectCtrl.project.title}}</h1>
        <br>
        <div ng-bind-html="::projectCtrl.project.text"></div>
        <br>
    </div>
</div>

<div class="row">
    <div ng-repeat="image in ::projectCtrl.project.images" class="col-xs-12 thumb pb-15">
        <img class="img-responsive" ng-src="{{::image.url}}" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <a href="" ng-if="::projectCtrl.hasPrev" ng-click="projectCtrl.prev()"><p><span class="glyphicon glyphicon-menu-left"></span> prev</p></a>
    </div>
    <div class="col-xs-8">

    </div>
    <div class="col-xs-2">
        <a href="" ng-if="::projectCtrl.hasNext" ng-click="projectCtrl.next()"><p class="btn-nxt">next <span class="glyphicon glyphicon-menu-right"></span></p></a>
    </div>
</div>