<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rocio Egio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Rocio Egio" content="Portfolio website of Rocio Egio">
    <meta name="Rocio Egio" content="">

    <link rel="icon"
          type="image/png"
          href="assets/img/favicon.png">

    <link href="bower_components/PACE/themes/black/pace-theme-minimal.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script>
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }

        };
    </script>
    <script src="bower_components/PACE/pace.min.js"></script>


    <script src="//localhost:9091"></script>

</head>


<body>
<div class="content" ng-controller="AppController as appCtrl">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <span class="logo-r" ng-click="appCtrl.go('/')">
                <span class="icon icon-R"></span>
            </span>
            <ul class="nav navbar-nav navbar-right navigation">
                <li ng-class="{active: (appCtrl.isActive('/') || appCtrl.isActive('/project'))}">
                    <a onclick="" href="javascript:void(0)" ng-click="appCtrl.go('/')">projects</a>
                </li>
                <li ng-class="{active: appCtrl.isActive('/about')}">
                    <a onclick="" href="javascript:void(0)" ng-click="appCtrl.go('/about')">about</a>
                </li>
                <li ng-class="{active: appCtrl.isActive('/contact')}">
                    <a onclick="" href="javascript:void(0)" ng-click="appCtrl.go('/contact')">contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid main-content">

        <div class="animate ng-view" autoscroll="true"></div>

        <footer>
            <span class="text-right navigation pull-right">
                <a onclick="" href="mailto:hello@rocioegio.com">mail</a> <a
                    onclick="" href="https://www.facebook.com/rocioegio" target="_blank">facebook</a> <a
                    onclick="" href="https://www.instagram.com/rocioegio" target="_blank">instagram</a>
                <a onclick="" href="https://www.behance.net/rocioegio14f0" target="_blank">behance</a>
                <a onclick="" href="https://www.linkedin.com/rocioegio" target="_blank">linkedin</a>
            </span>
        </footer>
    </div>
</div><!--/.container-->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js  "></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/contentful@latest/browser-dist/contentful.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services/projects-service.js"></script>
<script src="scripts/home/home.js"></script>
<script src="scripts/about/about.js"></script>
<script src="scripts/contact/contact.js"></script>
<script src="scripts/project/project.js"></script>
</body>
</html>