<div class="row">
    <div class="col-xs-12">
        <h1 class="text-left post-title">{{::postCtrl.post.title}}</h1>
        <br>
        <div ng-bind-html="::postCtrl.post.text"></div>
        <br>
    </div>
</div>

<div class="row">
    <div ng-repeat="image in ::postCtrl.post.images" class="col-xs-12 thumb pb-15">
        <img class="img-responsive" ng-src="{{::image.url}}" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <a href="" ng-if="::postCtrl.hasPrev" ng-click="postCtrl.prev()"><p>< PREV</p></a>
    </div>
    <div class="col-xs-8">

    </div>
    <div class="col-xs-2">
        <a href="" ng-if="::postCtrl.hasNext" ng-click="postCtrl.next()"><p class="btn-nxt">NEXT ></p></a>
    </div>
</div>